sample_flows/temperature_mqtt.json
[
  {
    "id": "mqtt_broker_1",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_temp",
    "type": "mqtt in",
    "z": "flow_main",
    "name": "Temperature Sensor",
    "topic": "sensors/temperature",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt_broker_1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [["func_convert"]]
  },
  {
    "id": "func_convert",
    "type": "function",
    "z": "flow_main",
    "name": "Convert C to F",
    "func": "// Convert Celsius to Fahrenheit\nvar celsius = msg.payload;\nvar fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = {\n    celsius: celsius,\n    fahrenheit: Math.round(fahrenheit * 100) / 100,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 100,
    "wires": [["debug_out", "mqtt_out_pub"]]
  },
  {
    "id": "debug_out",
    "type": "debug",
    "z": "flow_main",
    "name": "Debug Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt_out_pub",
    "type": "mqtt out",
    "z": "flow_main",
    "name": "Publish Converted",
    "topic": "sensors/temperature/fahrenheit",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_1",
    "x": 530,
    "y": 140,
    "wires": []
  },
  {
    "id": "inject_trigger",
    "type": "inject",
    "z": "flow_main",
    "name": "Trigger every 10s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "25.5",
    "payloadType": "num",
    "x": 150,
    "y": 200,
    "wires": [["func_convert"]]
  }
]
